<header>
    <nav class="container">
        <ul class="nav d-flex align-items-center justify-content-between">
            <li class="logo-container">
                <%= image_tag("parrot_logo.png", :alt => "parrot logo") %>
            </li>
            <ul class=" menu d-flex align-items-center justify-content-between gap-4">
                <li>
                    <%= link_to "New Post", new_post_path, class: "link text-success" %>
                </li>
                <li>
                    <%= link_to "All Users", users_path, class: "link text-success" %>
                </li>
                <% unless user_signed_in? %>
                <li>
                    <%= link_to "Log in", new_user_session_path, class: "link text-success" %>
                </li>
                <% end %>
                <% if user_signed_in? %>
                <li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link text-success" %>
                </li>
                <li>
                    <button class="btn btn-outline-success">Hello <%= current_user.name %></button>
                </li>
                <% end %>
            </ul>
        </ul>
    </nav>
</header>
