
<article class="user-card">
    <%= link_to user, class: 'user_link_container' do %>
    <div class="photo-container">
        <%= image_tag('cartoon_1.png', :alt => "parrot logo", :class => "img_profile") %>
    </div>
    <% end %>
    <div class="user-container">
        <%= link_to user, class: 'user_link_container', id: 'us-profile' do %>
        <h2 class="user-name fs-5 fw-bold"><%= user.name %></h2>
        <% end %>
        <div class="d-flex flex-column align-items-end">
            <p class="fs-6 fw-bold text-secondary m-0">Posts</p>
            <p class="fs-3 fw-bold mb-2"><%= user.posts_counter %></p>
            <%= link_to "See profile", user, class: "btn btn-success see" %>
        </div>
        
    </div>
</article>

