<div class="col p-4">
    <div class="card">
        <%= image_tag('cartoon_1.png', :alt => "parrot logo", :class => "card-img-top") %>
      <!-- <img src="cartoon_1.png" class="card-img-top" alt="user-picture"> -->
      <div class="card-body">
        <%= link_to user, class: 'user_link_container', id: 'us-profile' do %>
        <h5 class="card-title"><%= user.name %></h5>
        <% end %>
        <p class="card-text">Post: <%= user.posts_counter %></p>
        <%= link_to "See profile", user, class: "button button-text" %>
      </div>
    </div>
</div>
