<div>
    <div>Photo</div>
    <div>
        <%= @user.name %>
        Number of posts: <%= @user.posts_counter %>
    </div>
</div>
<% @list_of_posts.each do |post| %>
<div>
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <p>Comments: <%= post.comments_counter %></p>
    <p>Likes:  <%= post.likes_counter %></p>
</div>
<div>
    <% post.recent_comments.each do |comment| %>
        <p>Username: <%= comment.text %></p>
    <%end%>
</div>
<%end%>
