<%= render "users/theuser" %>

<% @list_of_posts.each do |post| %>
<article>
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <div>
        <p>Comments: <%= post.comments_counter %></p>
        <p>Likes:  <%= post.likes_counter %></p>
    </div>
</article>
<article>
    <% post.recent_comments.each do |comment| %>
        <p>Username: <%= comment.text %></p>
    <%end%>
</article>
<%end%>
