<% flash.each do |name, msg| %>
    <div class="success-container">
        <%= msg %>
    </div>
<% end %>
<article class="post-container">
    <div class="post-header">
        <h3><%= @post.title %> by <%= @user.name %></h3>
        <div class="comment-like-container">
            <%= link_to  "/users/#{@user.id}/posts/#{@post.id}/likes", method: :post do %>
            <i class="fa fa-thumbs-up"></i>
            <% end %>
            <p>Comments: <%= @post.comments_counter %></p>
            <p>Likes:  <%= @post.likes_counter %></p>
        </div>
    </div>
    <p class="post-text"><%= @post.text %></p>
</article>
<article class="post-container">
    <% @post.comments.each do |comment| %>
        <p class="comment">Username: <%= comment.text %></p>
    <%end%>
</article>

<%= render "comments/form" %>
